{
    "$schema": "http://json.schemastore.org/prettierrc",
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "printWidth": 120,
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "endOfLine": "crlf"
}